* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* Header fixo no topo e largura total */
 header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #c1f0f0;
  border-bottom: 2px solid #ffd670;
  width: 100%; /* Para cobrir toda a largura da tela */
  position: fixed; /* Para fixar no topo */
  top: 0;
  left: 0;
  z-index: 1000; /* Mantém o header acima do conteúdo */
 }
.link-home {
  margin-left: 20px; /* Espaço entre o título e o link */
  font-size: 16px; /* Tamanho da fonte */
  text-decoration: none; /* Remove o sublinhado */
  color: #1d80a1; /* Azul claro */
 }
  
  .logo {
    height: 40px;
 }
 body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #88c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    border: 2px solid #ffd670;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #88c0c0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #66a8a8;
}
